body{
  background-color:Gainsboro;
}

.white{
  background-color: white;
}

.title{
  font-family: monospace;
  font-size: 50px;
  position: absolute;
  top: 230px;
  left: 170px;
  color: Firebrick;
}

.subtitle{
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 300px;
  left: 170px;
}

.subtitle2{
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 300px;
  left: 280px;
}

.subtitle3{
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  top: 500px;
  left: 330px;
  background-color: white;
}

#impatient{
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 350px;
  left: 300px;
}

.subtitle4{
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 230px;
  left: 110px;
}

.logo{
  position: absolute;
  top:170px;
  left:720px;
}

.item.last{
    background: white;
    left: 200px;
    height: 569px;
    width: 800px;
    z-index: 10000;
}


.download{
   background-color: white;
   border: none;
   color: black;
   padding:15px;
   text-align: center;
   font-size: 11px;
   font-family: avenir;
   position: absolute;
   top: 370px;
   left: 170px;
   box-shadow: 1px 3px 5px lightgrey;
}

.refresh{
   background-color: white;
   border: none;
   color: black;
   padding:15px;
   text-align: center;
   font-size: 11px;
   font-family: avenir;
   position: absolute;
   top: 590px;
   left: 860px;
   box-shadow: 1px 3px 5px lightgrey;
}

.refresh2{
   background-color: white;
   border: none;
   color: black;
   padding:15px;
   text-align: center;
   font-size: 11px;
   font-family: avenir;
   position: absolute;
   top: 490px;
   left: 667px;
   box-shadow: 1px 3px 5px lightgrey;
}

.progressbar{
  position: absolute;
  top: 370px;
  left: 340px;
  width: 500px;
}
.item{
  position:absolute;
  align-items: center;
  align-content: center;
  padding:0px;
  top: 100px;
  left: 395px;
  width: 700px;
  height: 400px;
  display: none;
}

.item.show {
  display: block;
}

.popupbox{
  width: 800px;
  height: 566px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 200px;
  box-shadow: 4px 4px 5px lightgrey;

}

.impatientwords{
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 235px;
  left: 100px;
}

#impatient{
  display: none;
  background-color: white;
  z-index: 10000;
  top:100px;
  left: 200px;
  height: 569px;
  width: 800px;
}

.percent{
  display:inline;
}

.final{
  display: inline;
}
