body {
  background:GreenYellow;
}

.rotate{
  transform: rotate(45deg);
  font-size: 20px
  border-width: 1px;
  background-color:DeepPink;
}

.rotate1{
  transform: rotate(100deg);
  font-size: 100px
  font-style: italic;
}

.rotate2{
  transform: rotate(180deg);
  font-size: 30px
  border-width: 1px;
  background-color:Cyan;
}

.rotate3{
  transform: rotate(130deg);
  font-size: 50px
}

.rotate4{
  transform: rotate(150deg);
  position: absolute;
  top: 435px;
  right: 48px;
  font-size: 80px

}

#V2{
  background-color: SaddleBrown;
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  color: DarkGoldenrod;
  text-align: center;
}

div {
    text-decoration:line-through;
    border-style: dashed;
    border-width: medium;
    text-align: center;
}

#petal1{
  transform: rotate(216deg);
position: absolute;
top: 190px;
right: 488px;
border-width: 1px;
background-color:HotPink;
}

#petal2{
  transform: rotate(271deg);
      position: absolute;
      top: 55px;
      right: 200px;
      border-width: 1px;
      background-color:HotPink;
}

#petal3{
  transform: rotate(326deg);
    position: absolute;
    top: 211px;
    right: -98px;
    border-width: 1px;
    background-color:HotPink;
}

#petal4{
  transform: rotate(52deg);
    position: absolute;
    top: 652px;
    right: 17px;
    border-width: 1px;
    background-color:HotPink;
}

#petal5{
  transform: rotate(148deg);
      position: absolute;
      top: 581px;
      left: 115px;
   border-width: 1px;
   background-color:HotPink;
}

.sky{
  background:  url("https://media.giphy.com/media/3xz2BVxzjZVnGdgGVW/giphy.gif");
}

.evil{
  background-color:Firebrick;
}

.shadow {
  text-shadow: 50px 2px #ff0000;
  border-color: #ff0000;
  font-size: 100px;
  color: black;
  font-family: 'Monda', sans-serif;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

blink{
  animation: blink 1s infinite;
}

.v5 {
  word-spacing: 350px;
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: 50px;
}

.twinkly{
   background-image: url("http://orig10.deviantart.net/e24e/f/2005/257/8/c/stars_1_.gif");
   background-color: #cccccc;
}
